body {
  background: linear-gradient(90deg, #020024, #090979, #00d4ff);
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: "poppins", sans-serif;
}
.heading svg {
  color: #fff;
}
.input-box {
  max-width: 500px;
  width: 100%;
  min-height: 150px;
  outline: none;
  background-color: #fff;
  color: #333;
  padding: 20px 27px 27px 20px;
  margin: 20px 0;
  border-radius: 8px;
  font-size: 20px;
}
.note-content img {
  width: 20px;
  margin-bottom: 25px;
  margin-left: -35px;
  cursor: pointer;
}
.content {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  gap: 10px;
}
